[Unit]
Description=Run DDNS AWS client every 12h
Requires=ddns-aws-client.service

[Timer]
Unit=ddns-aws-client.service
OnUnitInactiveSec=12h
RandomizedDelaySec=12h
AccuracySec=1s

[Install]
WantedBy=timers.target